p {
  text-align: center;
  color: darkgray;
}
body{
  background: rgb(153, 146, 132);
  font-family: Arial, Helvetica, sans-serif;
}
#header {
  color: black;
}
.about{
  text-align:center; 
  color:black;  
}
.project{
  background: white;
}
.left{
  text-align: left;
  color: black;
}
.attention{
  font-weight: bold;
}
